*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    margin-left: 15px;
    margin-top: 10px;
}
#logo{
    vertical-align: middle;
}
#main-title{
    vertical-align: middle;
    font-size: 40px;
}
main{
    background-color: #f6f8f9;
    margin-top: 50px;
    text-align: center;
    
}
.container{
    background-color: #ffffff;
    margin: 0 200px 0 200px;
}

   

.bottone{
    border-radius: 7px;
    line-height: 40px;
    padding: 0 5px;
    
   

    

}
.button-on{
    background-color: #47adf1;
    border:2px solid #47adf1 ;
    color: #ffffff;
    
}
.button-off{
    background-color: #ffffff;
    border: 2px solid lightgrey;
    color: lightgray;
    
}

.seconda-parte{
    background-color: #ffffff;
    text-align: left;
    margin-left: 200px;
    margin-right: 200px
}

.font{
    font-size: 20px;
}
.bottone-uno{
    border-radius: 7px;
}

div{
    margin-top: 40px;
}
.bottone-due{
    background-color:purple;
    border:2px solid purple;
    color: #ffffff;
}
.lista{
    margin-top: 20px;
}
.bottone-tre{
    background-color:rgb(62, 128, 0);
    border:2px solid rgb(62, 128, 0);
    color: #ffffff;
}
.bottone-quattro{
    background-color:rgb(255, 156, 43);
    border:2px solid rgb(255, 156, 43);
    color: #ffffff;
}



    


