*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    margin-left: 15px;
    margin-top: 10px;
}
#logo{
    vertical-align: middle;
}
#main-title{
    vertical-align: middle;
    font-size: 40px;
}